h1, h2 {
  font-size: 46px;
  font-weight: 700;
  line-height: .75rem;
  --tw-text-opacity: 1;
  color: rgba(9, 30, 66, var(--tw-text-opacity));
}

h2 {
  font-size: 36px;
}

@media (min-width: 768px) {
  h1, h2 {
    font-size: 36px;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(9, 30, 66, var(--tw-text-opacity));
  }

  h2 {
    font-size: 26px;
  }
}
