body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  @apply text-blueGray-500;
}

.h1, .h2 {
  font-size: 96px;
  letter-spacing: -1.5px;
  @apply text-blueGray-900 font-light;
}

.h2 {
  font-size: 60px;
  letter-spacing: -0.5px;
}

.h3, .h4 {
  font-size: 48px;
  letter-spacing: 0px;
  @apply text-blueGray-900 font-normal;
}

.h4 {
  font-size: 34px;
  letter-spacing: 0.25px;
}

.h5, .h6 {
  font-size: 24px;
  letter-spacing: 0px;
  @apply text-blueGray-800 font-normal;
}

.h6 {
  font-size: 20px;
  letter-spacing: 0.15px;
  @apply font-medium;
}

.subtitle-1, .body-1 {
  font-size: 16px;
  letter-spacing: 0.15px;
  @apply font-normal;
}

.subtitle-2, .body-2 {
  font-size: 14px;
  letter-spacing: 0.1px;
  @apply font-medium;
}

.body-1 {
  letter-spacing: 0.5px;
}

.body-2 {
  letter-spacing: 0.25px;
  @apply font-normal;
}

button {
  font-size: 14px;
  letter-spacing: 1.25px;
  @apply font-medium;
}

.caption, .overline {
  font-size: 12px;
  letter-spacing: 0.4px;
  @apply font-normal;
}

.overline {
  font-size: 10px;
  letter-spacing: 1.5px;
  @apply uppercase;
}

p, div, ul, article {
  font-size: 16px;
  @apply text-blueGray-500 font-normal leading-normal;
}

a {
  @apply text-blue-500 no-underline transition-all;
}
a:hover {
  @apply text-blue-600;
}