@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Book.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'CircularStd';
    src: url("../fonts/CircularStd-Book.ttf");
    font-weight: 100;
}

body{
    font-family: 'CircularStd', sans-serif;
    z-index:5000;
}

.scrollbar-black::-webkit-scrollbar-track {
    @apply bg-transparent
}

.scrollbar-black::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
}

.scrollbar-black::-webkit-scrollbar-thumb {
    @apply rounded md:bg-gray-100 bg-transparent;
}

.scrollbar-black::-webkit-scrollbar-thumb:hover {
    @apply md:bg-cyan-300 bg-transparent;
}

.search .search-history{
    @apply hidden;
}

.search:focus-within .search-history{
    display: block !important;
}

.tab-indicator{
    transition:all .6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}