<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>

    <link rel="stylesheet" href="../../../public/css/tailwind.min.css">
    <link rel="stylesheet" href="../../../public/css/prism.css">

    <link rel="shortcut icon" href="../../../public/images/icon.svg" type="image/x-icon">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="text-gray-600 transition  bg-gradient-to-b from-white to-gray-50 bg-fixed">
    <header class="fixed w-full top-0 z-50">
        <nav class="container lg:w-9/12 ml-auto md:pt-4 md:pb-0 pt-2 pb-2 lg:px-6 md:px-12 px-4">
            <div class="flex gap-8 justify-between md:h-14 h-12 lg:-ml-10">

                <div class="h-10 flex items-center">
                    <h2 class="text-gray-400 text-xl">Atoms</h2>
                </div>          

                <div class="flex items-center gap-4 -mt-4">
                    <div>
                        <img src="../../../public/images/avatars/girl2.jpg" class="w-10 h-10 rounded-full object-center object-cover" alt="">
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class=" ">
        <div class="flex">
            <div class="fixed lg:block hidden top-0 lg:w-3/12 w-full z-50">
                <nav role="navigation" class="bg-white py-4 px-6 mr-12 h-full border-r-2 border-gray-50 border-opacity-50">

                    <div class="flex items-center gap-4 pb-6">
                        
                        <img src="../../../public/images/templogo.svg" class="w-36" alt="">
                    </div>
                    
                    <div class="relative -mr-2">
                        <form action="" class="text-gray-500 focus-within:text-cyan-400 focus-within:bg-white focus-within:shadow rounded search transition duration-300">
                            <div class="relative w-full">
                                <div class="absolute top-0 bottom-0 h-full flex items-center mb-auto md:left-4 left-3">
                                    <svg xmlns="http://ww50w3.org/2000/svg" class="w-4 fill-current" viewBox="0 0 35.997 36.004">
                                        <path id="Icon_awesome-search" data-name="search" d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"></path>
                                    </svg> 
                                </div>
                                <input type="search" placeholder="Rechercher" name="search" id="search" class="text-sm text-gray-50 placeholder-gray-500 w-full rounded py-3 pr-4 md:pl-12 pl-7 bg-gray-50 bg-opacity-50 outline-none focus:bg-transparent focus:rounded-3xl transition-all">                         
                            </div>
                        </form>
                    </div>

                    <div class="mt-4 -ml-4 -mr-6 relative overflow-y-auto scrollbar-black overflow-x-hidden" style="height:83vh;">
                        <span class="uppercase px-4 text-gray-200">Docs</span>
                        <ul class="space-y-4 mb-12 px-4 mt-8">
                            <li>
                                <a href="" class="flex gap-4 text-gray-600 hover:text-gray-800 transition">
                                    <img src="../../../public/images/icons/favorites.svg" class="w-6" alt="">
                                    Documentation
                                </a>
                            </li>
                            <li>
                                <a href="" class="flex gap-4 text-gray-600 hover:text-gray-800 transition">
                                    <img src="../../../public/images/icons/atom.svg" class="w-6" alt="">
                                    Atomic css
                                </a>
                            </li>
                            <li>
                                <a href="" class="flex gap-4 text-gray-600 hover:text-gray-800 transition">
                                    <img src="../../../public/images/icons/organism.svg" class="w-6" alt="">
                                    Atomic Design
                                </a>
                            </li>
                            <li>
                                <a href="" class="flex gap-4 text-gray-600 hover:text-gray-800 transition">
                                    <img src="../../../public/images/icons/template.svg" class="w-6" alt="">
                                    Default look
                                </a>
                            </li>
                        </ul>
                        
                        <ul class="space-y-4">
                            <li class="pr-2">
                                <div class="py-2 px-4 text-gray-700 uppercase">
                                    <a href="" class="block">Atoms</a>
                                </div>
                                <ul class="text-sm">
                                    <li>
                                        <a href="" class="block py-2 px-5 rounded bg-cyan-500 bg-opacity-10 hover:bg-opacity-20 text-cyan-500">Avatar</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Avatar</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Avatar</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Avatar</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Avatar</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Avatar</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                
                                </ul>
                            </li>
                            <li class="pr-2">
                                <div class="py-2 px-4 text-gray-700 bg-white uppercase">
                                    <a href="" class="block">Molecules</a>
                                </div>
                                <ul class="text-sm">
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Avatar</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                
                                </ul>
                                
                            </li>
                            <li class="pr-2">
                                <div class="py-2 px-4 text-gray-700 bg-white uppercase">
                                    <a href="" class="block">Organisms</a>
                                </div>
                                <ul class="text-sm">
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Avatar</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                
                                </ul>
                                
                            </li>
                            <li class="pr-2">
                                <div class="py-2 px-4 text-gray-700 bg-white uppercase">
                                    <a href="" class="block">Templates</a>
                                </div>
                                <ul class="text-sm">
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Avatar</a>
                                    </li>
                                    <li>
                                        <a class="block py-2 px-5 hover:text-gray-800 transition" href="">Badges</a>
                                    </li>
                                
                                </ul>
                                
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="lg:w-9/12 ml-auto h-screen">
                <div class="container m-auto lg:-ml-8 lg:pr-0 px-4 pt-28 md:pb-12  pb-4">
                    <div class="lg:flex gap-8 lg:px-0 md:px-8 justify-between">
                        <div class="lg:w-5/5">
                            <div>
                                <h1 class="text-5xl text-gray-800">Avatar</h1>
                                <p class="mt-4">An avatar represent a user with his face or initial it can be used in many molecules such as a card, a navbar, a list of users and more. We imagined it in more styles, choose the one that adapts to your design.</p>
                            </div>
                            
                            <div class="space-y-16 mt-16">
                                <div>
                                    <h2 class="text-xl text-blueGray-700">Full rounded avatars</h2>
                                    <div id="fullRoundedAvatar" class="bg-white rounded-2xl mt-8 component-container transition duration-300 overflow-auto max-w-7xl min-h-screen">    
                                        <div class="relative tab">
                                            <div class="absolute w-max right-2 z-20 top-2 flex items-center divide-x divide-gray-100 gap-4">
                                                <nav class="tab-head p-1 rounded-md bg-gray-900 bg-opacity-20 hover:bg-opacity-30  text-sm relative transition duration-300">
                                                    <div class="flex relative z-20 text-gray-50">
                                                        <button data-target="preview"  class="tab-item md:px-3 px-1.5 py-1.5 hover:text-gray-50 focus:outline-none flex gap-1">
                                                            <svg fill="none" class="stroke-current w-5 h-5">
                                                                <path d="M17.25 10c0 1-1.75 6.25-7.25 6.25S2.75 11 2.75 10 4.5 3.75 10 3.75 17.25 9 17.25 10z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                                <circle cx="10" cy="10" r="2.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></circle>
                                                            </svg>
                                                            <span>Preview</span>
                                                        </button>
                                                        <button data-target="code" class="tab-item md:px-3 px-1.5 py-1.5 hover:text-cyan-900 rounded-md focus:outline-none flex gap-1 transition">
                                                            <svg fill="none" class="stroke-current w-5 h-5" >
                                                                <path d="M13.75 6.75l3.5 3.25-3.5 3.25M6.25 13.25L2.75 10l3.5-3.25" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            </svg>
                                                            <span>Code</span>
                                                        </button>
                                                    </div>
                                                    
                                                    <div class="tab-indicator absolute top-1 z-10 bg-cyan-500 hover:bg-cyan-600 rounded-md md:px-3 px-1.5 py-1.5 duration-300"></div>
                                                </nav>

                                                <div class="pl-2">
                                                    <button class="text-sm text-cyan-500 p-2 hover:bg-cyan-400 hover:bg-opacity-20 focus:bg-opacity-40 focus:bg-cyan-500 rounded-md focus:outline-none">
                                                        
                                                        <svg class="w-5 h-5" viewBox="0 0 24 24">
                                                            <path fill="currentColor" d="M19,3H14.82C14.25,1.44 12.53,0.64 11,1.2C10.14,1.5 9.5,2.16 9.18,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M12,3A1,1 0 0,1 13,4A1,1 0 0,1 12,5A1,1 0 0,1 11,4A1,1 0 0,1 12,3M7,7H17V5H19V19H5V5H7V7M17,11H7V9H17V11M15,15H7V13H15V15Z" />
                                                        </svg>
                                                         
                                                    </button>
                                                </div>
                                                
                                            </div>

                                            <div class="relative">
                                                <div data-name="preview" class="visible transform translate-y-0 opacity-100 tab-content w-full md:p-8 p-4 transtion duration-500 ease-in-out">
                                                    <div class="lg:w-5/12 sm:w-7/12 m-auto space-y-6">
                                                        <div class="flex items-end gap-2">
                                                          <div class="w-8 h-8 rounded-full bg-indigo-500 text-white flex items-center justify-center">
                                                            <span class="material-icons">person</span>
                                                          </div>
                                                          <div class="sm:w-9/12 w-10/12">
                                                            <div class="relative inline-block px-4 py-2 rounded-2xl bg-gradient-to-br from-pink-50 to-indigo-100">
                                                              <span class="font-normal text-indigo-900 leading-snug">
                                                                Salut, ça va aussi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. In ipsum id soluta animi accusantium sint velit
                                                              </span>
                                                              <div class="absolute right-1 -bottom-1">
                                                                <span class="material-icons text-green-400" style="font-size:14px">check</span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                            
                                                        <div class="w-9/12 ml-auto flex">
                                                          <div class="relative inline-block ml-auto px-4 py-2 rounded-2xl bg-gradient-to-br from-purple-400 to-indigo-600">
                                                            <span class="font-normal text-white leading-snug">
                                                              😂😂😂😂😂😂😂
                                                            </span>
                                                            <div class="absolute right-1 -bottom-1">
                                                              <span class="material-icons text-indigo-100" style="font-size:14px">check</span>
                                                            </div>
                                                          </div>
                                                        </div>
                                            
                                                        <div class="flex items-end gap-2">
                                                          <div class="w-8 h-8 rounded-full bg-indigo-500 text-white flex items-center justify-center">
                                                            <span class="material-icons">person</span>
                                                          </div>
                                                          <div class="sm:w-9/12 w-10/12">
                                                            <div class="relative inline-block px-4 py-2 rounded-2xl bg-gradient-to-br from-pink-50 to-indigo-100">
                                                              <span class="font-normal text-indigo-900 leading-snug">
                                                                Salut, ça va aussi.
                                                              </span>
                                                              <div class="absolute right-1 -bottom-1">
                                                                <span class="material-icons text-green-400" style="font-size:14px">check</span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-name="code" class="invisible text-sm transform -translate-y-10 opacity-0 tab-content absolute top-0 w-full pt-8 overflow-auto scrollbar-black rounded-xl transition duration-500 ease-in-out">
                                                    <div>
                                                        <pre class="rounded-xl language-markup hightlight">
<code>
    &lt;div class="flex flex-wrap justify-center gap-4"&gt;
    &lt;a href="#" title="facebook" target="blank" class="h-10 w-10 flex items-center rounded-full bg-white text-gray-500  hover:text-blue-500 focus:bg-blue-100 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
    &lt;a href="#" title="youtube" target="blank" class="h-10 w-10 flex items-center rounded-full bg-white text-gray-500 hover:text-red-500 focus:bg-red-100 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
    &lt;a href="#" title="twitter" target="blank" class="h-10 w-10 flex items-center rounded-full bg-white text-gray-500 hover:text-sky-500 focus:bg-sky-100 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
  &lt;/div&gt;

  &lt;div class="flex flex-wrap justify-center gap-4"&gt;
    &lt;a href="#" title="facebook" target="blank" class="h-10 w-10 flex items-center border  rounded-full bg-gray-white text-blue-500 hover:border-blue-200 hover:text-blue-600 focus:bg-blue-100 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
    &lt;a href="#" title="youtube" target="blank" class="h-10 w-10 flex items-center border  rounded-full bg-gray-white text-red-500 hover:border-red-200 hover:text-red-600 focus:bg-red-100 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
    &lt;a href="#" title="twitter" target="blank" class="h-10 w-10 flex items-center border  rounded-full bg-gray-white text-sky-500 hover:border-sky-200 hover:text-sky-500 focus:bg-cyan-100 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
  &lt;/div&gt;

  &lt;div class="flex flex-wrap justify-center gap-4"&gt;
    &lt;a href="#" title="facebook" target="blank" class="h-10 w-10 flex items-center rounded-full bg-blue-50 text-blue-500 hover:bg-blue-100 hover:text-blue-600 focus:bg-blue-100 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
    &lt;a href="#" title="youtube" target="blank" class="h-10 w-10 flex items-center rounded-full bg-red-50 text-red-500 hover:bg-red-100 hover:text-red-600 focus:bg-red-100 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
    &lt;a href="#" title="twitter" target="blank" class="h-10 w-10 flex items-center rounded-full bg-sky-50 text-sky-500 hover:bg-cyan-100 hover:text-sky-600 focus:bg-sky-100 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
  &lt;/div&gt;

  &lt;div class="flex flex-wrap justify-center gap-4"&gt;
    &lt;a href="#" title="facebook" target="blank" class="h-10 w-10 flex items-center rounded-full bg-blue-500 text-white hover:bg-blue-600 focus:bg-blue-700 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
    &lt;a href="#" title="youtube" target="blank" class="h-10 w-10 flex items-center rounded-full bg-red-500 text-white hover:bg-red-600 focus:bg-red-700 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
    &lt;a href="#" title="twitter" target="blank" class="h-10 w-10 flex items-center rounded-full bg-sky-500 text-white hover:bg-sky-600 focus:bg-sky-700 focus:outline-none transition"&gt;
      &lt;svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-auto" viewBox="0 0 16 16"&gt;
        &lt;path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" /&gt;
      &lt;/svg&gt;
    &lt;/a&gt;
  &lt;/div&gt;
</code> 
                                                        </pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                    
            

                                <div class="hidden">
                                    <h2 class="text-xl text-blueGray-700">Rounded xl avatar</h2>
                                    <div class="p-4 mt-8 bg-gray-50 white border border-gray-50 rounded-t-2xl">
                                        <div class="flex flex-wrap items-end gap-4">
                                            <img src="../../../public/images/avatars/girl2.jpg" class="w-10 h-10 rounded-xl object-center object-cover" alt="">
                                            <img src="../../../public/images/avatars/girl.jpg" class="w-12 h-12 rounded-xl object-center object-cover" alt="">
                                            <img src="../../../public/images/avatars/girl2.jpg" class="w-16 h-16 rounded-xl object-center object-cover" alt="">
                                            <img src="../../../public/images/avatars/girl.jpg" class="w-20 h-20 rounded-xl object-center object-cover" alt="">
                                            <img src="../../../public/images/avatars/meschac.jfif" class="w-24 h-24 rounded-xl object-center object-cover" alt="">
                                        </div>
                                    </div>

                                    <div class="p-4 bg-gray-900 rounded-b-2xl relative select-none">
                                        <div class="absolute top-2   right-2   w-max">
                                            <button class="text-sm text-white px-4 py-2 bg-gray-800 hover:bg-cyan-800 focus:bg-cyanA-700 rounded-md focus:outline-none">
                                                Copy
                                            </button>
                                        </div>
                                        
                                        <div class="overflow-x-scroll scrollbar-black">
                                            <xmp class="text-gray-500"><img src=".." class="w-12 h-12 rounded-full object-center object-cover" alt="avatar"></xmp>
                                        </div>
                                        
                                    </div>
                                </div> 

                                <div class="hidden">
                                    <h2 class="text-2xl text-gray-700">Hoverable avatars</h2>
                                    <div class="p-4 mt-8 bg-gray-50 white border border-gray-50 rounded-t-2xl">
                                        <div class="flex flex-wrap items-end gap-4">
                                            <img src="../../../public/images/avatars/girl2.jpg" title="User Name" class="w-10 h-10 object-center object-cover rounded-lg border-4 border-gray-100 border-opacity-0 hover:border-opacity-50 transition" alt="">
                                            <img src="../../../public/images/avatars/girl2.jpg" title="User Name" class="w-10 h-10 object-center object-cover rounded-full border-4 border-gray-100 border-opacity-0 hover:border-opacity-50 transition" alt="">
                                            <img src="../../../public/images/avatars/girl.jpg" title="User Name" class="w-12 h-12 object-center object-cover rounded-lg border-4 border-gray-100 border-opacity-0 hover:border-opacity-50 transition" alt="">
                                            <img src="../../../public/images/avatars/girl.jpg" title="User Name" class="w-12 h-12 object-center object-cover rounded-full border-4 border-gray-100 border-opacity-0 hover:border-opacity-50 transition" alt="">
                                        </div>
                                    </div>

                                    <div class="p-4 bg-gray-900 rounded-b-2xl relative select-none">
                                        <div class="absolute top-2   right-2   w-max flex gap-4">
                                            <div>
                                                <nav class="p-1 rounded-md bg-gray-800 text-white text-sm">
                                                    <button class="px-2 py-1 bg-cyan-400 rounded-md focus:outline-none">HTML</button>
                                                    <button class="px-2 py-1 bg-gray-700 bg-opacity-0 hover:bg-opacity-100 rounded-md focus:outline-none">CSS</button>
                                                </nav>
                                            </div>
                                            <button class="text-sm text-white px-4 py-2 bg-gray-800 hover:bg-cyan-800 focus:bg-cyanA-700 rounded-md focus:outline-none">
                                                Copy
                                            </button>
                                        </div>
                                        
                                        <div class="overflow-x-scroll scrollbar-black mt-8">
                                            <xmp class="text-gray-500"><img src=".." class="w-12 h-12 rounded-full object-center object-cover" alt="avatar"></xmp>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="hidden">
                                    <h2 class="text-xl text-gray-600">More avatar atoms</h2>

                                    <div class="flex flex-wrap gap-4 mt-4">
                                        <div class="border-2 border-gray-50 border-opacity-50 rounded-lg hover:shadow-lg hover:border-transparent transition">
                                            <a href="_initial.html" class="p-4 flex items-center gap-4">
                                                <div class="font-semibold w-12 h-12 flex justify-center items-center rounded-full bg-gradient-to-br from-pink-300 to-purple-600 text-white">
                                                    IR
                                                </div>
                                                <div>
                                                    <h4 class="leading-none">Avatar Initial</h4>
                                                    <span class="leading-none text-sm text-gray-300">7 Styles</span>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="border-2 border-gray-50 border-opacity-50 rounded-lg hover:shadow-lg hover:border-transparent transition">
                                            <a href="_default.html" class="p-4 flex items-center gap-4">
                                                <div class="font-semibold w-12 h-12 flex justify-center items-center rounded-full bg-gray-50 text-white">
                                                    IR
                                                </div>
                                                <div>
                                                    <h4 class="leading-none">Default Avatar</h4>
                                                    <span class="leading-none text-sm text-gray-300">7 Styles</span>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="border-2 border-gray-50 border-opacity-50 rounded-lg hover:shadow-lg hover:border-transparent transition">
                                            <a href="_status.html" class="p-4 flex items-center gap-4">
                                                <div class="relative">
                                                    <img src="../../../public/images/avatars/girl2.jpg" class="w-12 h-12 object-center object-cover rounded-full" alt="">
                                                    <div class="absolute top-0 right-0 h-3 w-3 rounded-full border-2 border-white bg-green-400"></div>
                                                </div>
                                                <div>
                                                    <h4 class="leading-none">Avatar Status</h4>
                                                    <span class="leading-none text-sm text-gray-300">All variants</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w-2/5 hidden">
                            <div class="sticky top-20">
                                <h5 class="text-md uppercase text-gray-50">On this page</h5>

                                <ul class="mt-4 space-y-4 text-sm">
                                    <li><a href="" class="hover:text-white transition text-cyan-400">Full rounded</a></li>
                                    <li><a href="" class="hover:text-white transition">Rounded</a></li>
                                    <li><a href="" class="hover:text-white transition">Default</a></li>
                                    <li><a href="" class="hover:text-white transition">Initials</a></li>
                                    <li><a href="" class="hover:text-white transition">Hover</a></li>
                                    <li><a href="" class="hover:text-white transition">Status</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../public/js/app.js"></script>
    <script src="../../../public/js/prism.js"></script>
</body>
</html>