<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tailus - Hight Customized Material Design components build with tailwindcss</title>

    <link rel="stylesheet" href="../../../public/css/tailwind.min.css">
    <link rel="stylesheet" href="../../../public/css/prism.css">

    <link rel="shortcut icon" href="../../../public/images/icon.svg" type="image/x-icon">
</head>
<body class="bg-gradient-to-b from-gray-800 to-gray-900 h-full bg-fixed">
    <div class="container m-auto py-8 lg:px-6 md:px-16 sm:px-8 px-6">
        <img src="../../../public/images/logo_whitetext.svg" class="sm:w-56 w-40 fixed bg-gray-800 z-20 p-4 rounded-lg -m-4 bg-opacity-75 backdrop-blur-xl" alt="">

        <div class="fixed w-5/12 right-0">
            <svg width="1043" height="690" viewBox="0 0 1043 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path  d="M134.383 210.773C180.435 133.182 271.984 95.0543 359.498 117.018V117.018C427.631 134.118 499.77 114.964 550.448 66.3194L555.919 61.0673C610.361 8.80937 687.98 -11.532 761.055 7.3082L817.898 21.9636C950.403 56.1265 1043 175.625 1043 312.464V690H212L121.843 568.97C54.4175 478.456 48.022 356.281 105.628 259.222L134.383 210.773Z" fill="url(#paint0_linear)" fill-opacity="0.1"/>
                <path class="opacity-40" d="M975 534.464V909.5H147.755L58.3477 789.477C-8.47475 699.772 -14.8131 578.689 42.2782 482.498L71.0333 434.049C116.521 357.409 206.947 319.748 293.389 341.443C362.358 358.752 435.38 339.364 486.679 290.123L492.151 284.871C545.967 233.213 622.695 213.105 694.93 231.729L751.773 246.384C883.175 280.263 975 398.765 975 534.464Z" stroke="#01FEE6" stroke-width="5"/>
                <defs>
                <linearGradient id="paint0_linear" x1="526.75" y1="-23" x2="526.75" y2="690" gradientUnits="userSpaceOnUse">
                <stop stop-color="#01FEE6" stop-opacity="0"/>
                <stop offset="1" stop-color="#1EA3BC"/>
                </linearGradient>
                </defs>
            </svg>
        </div>
        <div class="lg:w-7/12 mx-auto mt-28 space-y-12 relative z-10">
            <h1 class="lg:text-6xl md:text-5xl text-3xl font-bold text-gray-100">Hight Customized Material Design components build with tailwindcss.</h1>
            <div class="space-y-6 text-gray-300">
                <p>TailwindUI, TailwinduiKit and other UiKits based on Tailwindcss, like any other UIKit, are component systems of the given design systems.
                    The design system allows a team to collaborate efficiently on a project or in a company, it prevents the team from going off in all directions when creating a user interface for a product.</p>
                <p>It contains: visual identity, best practices, guidelines and components.</p>
                <p>Design system is a philosophy of a given project or company to ensure consistency of branding elements and especially that of the system of components.</p>
                <p>This implies that the Design System must be accessible to all team members or to anyone outside the team using a component or the whole  components system of the Design System.</p>
                <p>The problem with TailwindUI, TailwindUIKit and others is that they are based on Design Systems but are only accessible to their respective team members and not to outsiders using their components.</p>
                <p>When designing a user interface using their components, you have to guess at the guidelines to be able to customize your components and adapt them to your brand.</p>
                <p>If you want to create other components, they may not be compatible or consistent with the imported components of a given UIKit. And when working in a team on a UI, you may be confronted with bigger problems than you can imagine, each one may modify the components as he likes and in the end have a result that does not represent your UI as well as you imagined.</p>
                <p>If you have a design system to which you adapt components from an external UIKit, so much the better.</p>
                <p>Another way to solve this problem is to offer a UIKit based on an open source and highly customizable Design System.</p>
                <p>Today I present you Tailus, a very customizable, very modern and beautiful component stack built following the rules of the Google design system (Material Design) with the Tailwindcss framework.</p>
                <p>The look of our components is: 25% Material Design, 50% of our personal touch and 25% of current web trends.</p>
                <p class="text-cyan-300">This combination gives birth to very modern and customizable components.</p>
                <p>We think we have solved the problem of UIKits with Tailus, each Tailus component is directly linked to its documentation on the Material Design website, which means that if you like one of our components but you want to add a personal touch, you will have a whole documentation to guide you and thus offer something reflecting your imagination to your users.</p>
                
                <div class="pt-8">
                    <div class="flex gap-4 items-center py-16 border-t">
                        <img src="../../../public/images/avatars/meschac.jfif" class="w-16 h-16 rounded-full" alt="">
                        <div>
                            <h5 class="text-xl text-white">Méschac Irung</h5>
                            <span>UI Designer</span>
                        </div>
                    </div>
                </div>
                
               </div>
        </div>
    </div>
</body>
</html>